<h1 class="text-xs" id="iddd">users/dashboard/user_sidebar</h1>



<div class="mt-2"> 

    <%# Counts ALL USERS!!! %>

         <%= link_to user_associates_path(current_user.id), class: "flex justify-between item-center px-3 py-1 text-sm font-medium text-gray-700 rounded-lg hover:bg-gray-200" do %>
          <span>link to</span>
          <span class="text-xs font-semibold text-gray-700"><%= current_user.all_associated_users.count %></span>
         <% end %>

        <% current_user.class.roles.keys.each do |role| %>
          <%= render partial: 'users/dashboard/user_list', locals: {:role => role}  %>
        <% end %>





          <a 
          href="/users/<%= current_user.id%>/alllll"
          class="flex justify-between item-center px-3 py-1 text-sm font-medium text-gray-900 rounded-lg hover:bg-gray-200"
          >
            <span>All</span>
            <% if current_user.admin?%>
              <span class="text-xs font-semibold text-gray-700"><%= current_user.all_associated_users.count %></span>
            <% else %>
              <span class="text-xs font-semibold text-gray-700"><%=current_user.all_associated_users.uniq.count %></span>
            <% end %>
          </a>

    <%# lower level tally of Associated Users sorted By roles. %>

      