
<%= content_for :main_panel do %>
  <%= render partial: 'users/dashboard/user_profiles', locals: {users: @users} %> 
<% end %>

<%= content_for :upper_block do %>
  <%= render partial: 'users/dashboard/upper_block', locals: {} %>
<% end %>

<%= content_for :data_sidebar do %>
  <%= render partial: 'users/dashboard/data_sidebar', locals: {} %>
<% end %>


<!-- controls rendering of user sidebar -->
<%= content_for :user_sidebar do %>
  <%= render partial: 'associates/dashboard/user_sidebar', locals: {} %>
<% end %>
<h1 class="text-2xl">user index page!!!!!</h1>
<%= render partial: 'users/dashboard/main_display', locals: {title: @title} %>