<h1 class="text-xs" id="iddd">users/show</h1>
<%# controls rendering of top ribbon %>
<%= content_for :upper_block do %>
  <%= render partial: 'users/dashboard/upper_block', locals: {:colleague_type => "all"} %>
<% end %>



<%# controls rendering of main interactive section %>
<%= content_for :main_panel do %>
  <%= render partial: 'users/dashboard/indexes', locals: {} %> 
<% end %>


<%# controls rendering of user sidebar %>
<%= content_for :user_sidebar do %>
  <%= render partial: 'associates/dashboard/user_sidebar', locals: {} %>
<% end %>
    
<%# Primary RenderLayer for the page (_main_display.html.erb) %>
<div>
  <% if current_user.admin? %>
<h1 class="text-2xl">I'm an admin</h1>
    <%= render partial: 'users/dashboard/main_display', locals: {:packages => Package.all, :title => @title} %>
  <% else%>
    <%= render partial: 'users/dashboard/main_display', locals: {:packages => @packages, :title => @title} %> 
  <% end %>
</div>