<%= content_for :upper_block do %>
  <%= render partial: 'users/dashboard/upper_block' %>
<% end %>

<%= content_for :main_dataset do %>
  <%= render partial: 'users/dashboard/indexes' %> 
<% end %>

<!-- controls rendering of data sidebar -->
<%= content_for :data_sidebar do %>
  <%= render partial: 'users/dashboard/data_sidebar', locals: {} %>
<% end %>


<!-- controls rendering of user sidebar -->
<%= content_for :user_sidebar do %>
  <%= render partial: 'users/dashboard/user_sidebar', locals: {} %>
<% end %>
    

<!-- Primary RenderLayer for the page (_main_display.html.erb) -->
<div>
  <% if current_user.admin? %>
    <%= render partial: 'users/dashboard/main_display', locals: {:packages => Package.all, :title => @title} %>
  <% else%>
    <%= render partial: 'users/dashboard/main_display', locals: {:packages => @packages, :title => @title} %> 
  <% end %>
</div>