<li class="mt-3" id="single tile">

<% if @company %>
<%# build out company_package_path for package tiles to be linked to!!!%>
  <%= link_to  company_associate_path(@company.id, associate.id), :class=>"block p-5 bg-white rounded-lg shadow"  do %>
  
    <div class="flex justify-between items-center py-2">     
      <h2 class="text-sm font-medium font-bold text-gray-900"><%= associate.name.upcase %></h2>
    </div>

    <div class="flex justify-between">
      <% if associate.comments.count == 1%>
        <p class="text-sm font-medium text-gray-900 leading-snug"> <%= associate.comments.first.content %></p>
      <% else %>
      <ul>
        <% associate.comments.each do |comment|  %>
        <li>
          <p class="text-sm font-medium text-gray-900 leading-snug"><%= comment.content %></p>
        </li>
        <% end%>
      </ul>
      <% end%>
    </div>

    <div class="flex mt-2 justify-between items-baseline">
      <div class="text-sm text-gray-600">
        <p class="text-sm text-gray-600"> <%= associate.positions.first.title %></p>
      </div>
      
      <div>
        <span class="px-2 inline-flex items-center bg-teal-100 rounded">
          <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
          <circle cx="4" cy="4" r="3" />
          </svg>
          <span class="ml-1 py-1 text-sm font-medium leading-tight text-teal-900"><%= associate.username %></span>
        </span>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to  user_associate_path(current_user.id, associate.id), :class=>"block p-5 bg-white rounded-lg shadow"  do %>
<% end %>

    <div class="flex justify-between items-center py-2">     
      <h2 class="text-sm font-medium font-bold text-gray-900"><%= associate.name.upcase %></h2>
      <span class="-ml-2 rounded-full border-2 border-white">
        <img class="h-12 w-12 rounded-full object-cover" src="<%= associate.url %>" alt="profile photo">
      </span>
    </div>

    <div class="flex justify-between">
    <%a;sldkjf;lkj%>
      <% if associate.companies.count == 1%>
        <p class="text-sm font-medium text-gray-900 leading-snug"> <%= associate.companies.first.name %></p>
      <% else %>
      <ul>
        <% associate.companies.each do |company|  %>
        <li>
          <p class="text-sm font-medium text-gray-900 leading-snug"><%= company.name %></p>
        </li>
        <% end%>
      </ul>
      <% end%>
    </div>

    <div class="flex mt-2 justify-between items-baseline">
      <div class="text-sm text-gray-600">
        <p class="text-sm text-gray-600"> <%= associate.positions.first.title %></p>
      </div>

      <div>
        <span class="px-2 inline-flex items-center bg-teal-100 rounded">
          <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
          <circle cx="4" cy="4" r="3" />
          </svg>
          <span class="ml-1 py-1 text-sm font-medium leading-tight text-teal-900"><%= associate.username %></span>
        </span>
      </div>
    </div>
  <% end %>
</li>