<%# raise params.inspect%>
<h1 class="text-xl">  add a new associate</h1>
<%= form_for @subject, url: user_invitation_path do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
    <br>
    <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
    <br>
    <br>
  <%= f.label :role %>
  <%= f.select :role, User.roles.keys.to_a, class: "input" %>
    <br>
    <br>
  
  <h1 class="text-xl">  add user to company</h1>
  <%=f.fields_for :positions do |p| %>
    <%# raise params.inspect%>
    <%= p.label :title %>
    <%= p.text_field :title %>
      <br>
      <br>
    <%= p.label :company_id, "Company" %>
    <%= p.collection_select(:company_id, Company.all, :id, :name, include_blank: true)%>
      <br>
      <br>
    <h1 class="text-xl">  or create a new company</h1>
    <%= p.fields_for :company do |c| %>
    <h1 class="text-xs"> INSIDE THE COMPANY FIELDS</h1>
      <%= c.label :name %>
      <%= c.text_field :name %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end%>
