<%# not yet being used!!! %>

<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    
 
  <% resource.class.invite_key_fields.each do |field| %>

    <div class="field">
      <%= f.label field, class: "label"%>
      <br />
      <br />
      <%= f.text_field field, class: "input"%>
    </div>
  <% end -%>

    

    <div class="form-group">
    
      <%= f.label :role, class: 'sr-only label'  %>
      <%= f.select :role, User.roles.keys.to_a, class: "input"%>
    </div>
    
  <div class="actions">
    <%= f.submit t("devise.invitations.new.submit_button") %>
  </div>
<% end %>
