<%= form_for(@account), html: {class: 'bolds'} do |account| %>
  <%= account.label :name %>
  <%= account.text_area :name %>

  <br>
  <br>

  <%=account.label :company_id, "Company" %>
  <%=account.collection_select :company_id, Company.all, :id, :name, prompt: true%>

  <br>
  <br>
<!-- NESTED FORM FOR NEW COMPANY -->
  <p>Create a News Company</p>
    <%= account.fields_for :company do |company_fields| %>
      <%= company_fields.label :name%>
      <%= company_fields.text_field :name%>

        <br>
        <br>

    <% end %>
<!-- NESTED FORM FOR NEW PACKAGE -->
    <p>Add new packages</p>
    <%= account.fields_for :packages do |package_fields| %>
      <%= package_fields.label :name %>
      <%= package_fields.text_area :name %>
      <br>
      <br>
      <%= package_fields.label :due_date %>
      <%= package_fields.text_area :due_date %>

    <% end %>

<%=account.submit %>
<% end %>