

<%= content_for :main_panel do %>
  <%= render partial: 'associates/dashboard/indexes', locals: {} %> 
<% end %>

<%= content_for :upper_block do %>
  <%= render partial: 'associates/dashboard/upper_block', locals: {} %>
<% end %>

<%= content_for :data_sidebar do %>
  <%= render partial: 'associates/dashboard/data_sidebar', locals: {} %>
<% end %>


<!-- controls rendering of user sidebar -->
<%= content_for :user_sidebar do %>
  <%= render partial: 'associates/dashboard/user_sidebar', locals: {role: current_user.roles} %>
<% end %>


<h1 class="text-2xl">user_sidebar = associates#index</h1>

<%= render partial: 'associates/dashboard/main_display', locals: {title: @title} %>