<h1 class="text-xs" id="iddd">accounts/new</h1>
<%= content_for :upper_block do %>
  <%= render partial: 'users/dashboard/upper_block', locals: {:colleague_type => "admin"} %>
<% end %>

<%= content_for :main_panel do %>
   <%= render partial: 'forms/new_account_via_manager', locals: {}%>
<% end %>



<%# controls rendering of user sidebar %>
<%= content_for :user_sidebar do %>
  <%= render partial: 'users/dashboard/user_sidebar', locals: {} %>
<% end %>

<%= render partial: 'users/dashboard/main_display', locals: {title: @title} %>
