<h1 class="text-xs" id="iddd">accounts/show</h1>
<%= content_for :main_panel do %>
  <%= render partial: 'accounts/highlight/indexes', locals: {} %> 
<% end %>

<%= content_for :upper_block do %>
  <%= render partial: 'accounts/highlight/upper_block', locals: {} %>
<% end %>

<!-- controls rendering of user sidebar -->
<%= content_for :user_sidebar do %>
  <%= render partial: 'accounts/highlight/user_sidebar', locals: {} %>
<% end %>

<%= render partial: 'accounts/highlight/main_display', locals: {title: @title} %>